* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    background-color: #574D68;
    text-align: center;
    flex-direction: column;
    padding-top: 2%;
}
h1 {
    color: #456990;;
    font-family: 'Silkscreen';
    text-align: center;
    
}
#main{
    width: 500px;
    height: 550px;
    background: #D3DFB8;
    margin: 10px auto;
    z-index: 1;
}

#othello {
    display: block;
    position: relative;
    padding-top: 50px;
    height: 550px;
    width: 100%;
}

#mainspan{
    color: #574D68;
    font-family: 'Silkscreen';
    font-size: larger;
}

.white{
    background-image: url('images/whitecircle.png');
    background-size: cover;
}
.whitesuggest{
    background-image: url('images/whitecircle.png');
    background-size: cover;
    opacity: 0.4;
}
.black{
    background-image: url('images/blackcircle.png');
    background-size: cover;
}
.blacksuggest{
    background-image: url('images/blackcircle.png');
    background-size: cover;
    opacity: 0.4;
}
.othelloSquare {
    border: 4px solid black;
    height: 48px;
    width: 48px;
}
td:hover{
    opacity:1;
}


tbody{
    background: #456990;;
}

.othelloBoard {
    position: relative;
    border-collapse: collapse;
    border: 4px solid black;
    margin: 0 auto;
    z-index: 100;
}

.highlight{
    background-color: red;
}

/* Modal styles */
#modal {
    width: 95%;
    height: 180px;
    background: #DE5360;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Silkscreen';
    z-index: 10;
    opacity: 0.9;
}

#modal #message {
    color: #FDE1E3;
    margin: 0;
    font-size: 4rem;
}
.hide {
    display: none;
}

#modal #header {
    text-align: right;
    padding: 5px 10px;
}
#modal #header button {
    padding: 10px;
    border: 0px;
    background: #456990;
    color: #D3DFB8;
    cursor: pointer;
}